#background {
  width: 100%;
  height: 50vh;
  background-color: rgb(239, 116, 116);
  position: fixed;
  bottom: 0px;
  z-index: -1;
}

#card-image {
  display: flex;
  justify-content: center;
}

#card-image > img {
  width: 10rem;
  margin-top: 1.7rem;
  border-radius: 50%;
  padding: 4px;
  border: 3px solid rgb(239, 116, 116);
}

.card {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgb(135, 134, 134);
  margin: 1rem;
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-body .details{
  margin-bottom: 1rem;
  flex:1;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-primary {
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgb(83, 51, 51);
  margin: 0.2rem;
}

#roll {
  font-size: 0.8rem;
}

#cards > .card {
  /* flex: 1 1 calc(25% - 2rem);
  max-width: calc(25% - 2rem);  */
  max-width: 207px;
}

/* @media (max-width: 600px) {
  #cards > .card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(70% - 1rem);
  }
} */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgb(239, 116, 116);
}
