body{
    background-color: rgb(240, 238, 238);
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0rem 3rem 5rem 3rem;
    padding: 1.5rem;
}
.footer_list{
    display: flex;
}
.card{
    margin-bottom: 1rem; 
    transition: 0.3s ease-in-out;
}