body{
    background-color: rgb(240, 238, 238);
}

.container-sm{
    border: 1px solid gray;
    border-radius: 1rem;
} 

.project-card{
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;  
    transition: 0.3s ease-in-out;
}

.card-image, .card-img{
    width: 13rem;
    height: 100%;
    border-radius: 1rem;
    margin: 0px;
}

.card-img{
    padding: 0.3rem;
    overflow: hidden;
    border-radius: 1rem;
}

.card-body{
    flex: 1;
    padding: 1rem;
}

.btn{
    margin-top: 1rem;
    margin-left: 0.7rem;
}
.card-subtitle {
    font-style: italic;
    font-size: 18px;
}
.card-title {
    /* font-family: 'Playfair Display', serif; */
    font-weight: 700;
    font-style: italic;
    font-size: 1.4rem;
    color: #333;
}
.card-text{
        font-size: 1rem;
}
#buttons{
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}
#text-scroll{
    height: 6rem;
    overflow: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

/* @media(max-width: 450px){
    #buttons{
        flex-direction: row;
        flex-wrap: wrap;;
    }
} */
