img{
    display: inline;
    border-radius: 50%;
}
.main_content{
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.description{
    text-align: center;
    background-color: rgb(255, 248, 248);
    height: 100vh;
    padding: 6rem 3.02rem;
}

.desc_item a{
    margin: 0px 10px;
    line-height: 30px;
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(65, 65, 65);
    transition: 0.3s ease-in-out;
}

.info{
    padding: 5rem 0rem 5rem 3rem;
    flex: 1;
    background-color: rgb(240, 238, 238);
    overflow: scroll;
}

@media(max-width: 850px){
    .description{
        display: none;
    }
    .footer_list{
        display: flex;
    }
}