.image-container {
    display: flex;
    justify-content: first baseline;
    height: 100vh;
    gap: 4.5rem;
}
.diamond-img {
    width: 16.2rem; /* Adjust size */
    height: 16rem; /* Make it square */
    border: 0.65rem solid rgb(0, 0, 0); /* Add border */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shape */
    transition: transform 0.3s ease-in , box-shadow 0.3s ease-in-out;
    object-fit: fill; /* Ensures the image fits inside */
}
.diamond-img:hover {
    transform: scale(1.1) rotate(0.5deg); /* Slight enlarge + rotate */
    box-shadow: 0px 50.6rem 1rem rgba(0, 0, 0, 0.3); /* Add shadow */
}
