body{
    background-color: rgb(240, 238, 238);
}

.container-sm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
} 


a img, .container-sm div{
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

a img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

@media(max-width: 450px){
    .container-sm{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 3rem;
    } 
    a img, .container-sm div{
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
}
